* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gulzar', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(donate/images/cover2.png);
    height: 500px;
    background-size: 2000px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 200px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.donate {
    background-image: linear-gradient(rgb(243, 9, 118), rgb(216, 6, 6));
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

#donate-m {
    margin-top: 50px;
}

.hdown {
    margin: 100px 400px;
    text-align: center;
    font-size: 30px;
}

#donate {
    text-align: center;
}

.flex {
    display: flex;
}

.taka {
    box-shadow: none;
    margin-left: 3%;
    padding: 30px;
    background-color: rgb(155, 154, 154);

}

#taka-s {
    border: 7px solid tomato;
}

#taka-m {
    margin-top: 100px;
    color: rgb(107, 107, 107);
}