* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gulzar', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(donate/images/cover2.png);
    height: 500px;
    background-size: 2000px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 200px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.donate {
    background-image: linear-gradient(rgb(243, 9, 118), rgb(216, 6, 6));
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

#donate-m {
    margin-top: 50px;
}

.hdown {
    margin: 100px 400px;
    text-align: center;
    font-size: 30px;
}

.donate-c {
    text-align: center;
}

.flex {
    display: flex;
}

.taka {
    box-shadow: none;
    margin-left: 2%;
    padding: 30px;
    background-color: rgb(155, 154, 154);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(34, 31, 31);

}




#taka-s {
    border: 7px solid tomato;
}

#taka-m {
    margin-top: 100px;
    color: rgb(107, 107, 107);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(228, 222, 222, 0.795);
    outline: none;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
    color: rgba(196, 160, 95, 0.678);
}

.plan {
    margin: 100px 300px;
    font-size: 25px;
}

#first {
    background-color: rgb(216, 235, 235);
}

#sceond {
    background-color: rgb(212, 198, 205);
}

#thard {
    background-color: rgb(221, 149, 149);
}


#last {
    background-color: black;
    text-align: center;
    height: 150px;
    padding-top: 50px;
}

#humble {
    color: rgb(230, 79, 79);
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
}

#go {
    color: rgb(155, 177, 196);
    padding: 30px;

}

.half {
    width: 50%;
}

.half img {
    width: 90%;
    margin: 20px;
}

#email-box_full {
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

#email-box {
    background: rgb(216, 208, 192);
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emai {
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border: none;
}

#sub {
    outline: none;
    height: 40px;
    padding: 0 30px;
    background-color: rgb(202, 13, 22);
    border: none;
    color: rgb(247, 240, 240);
    font-size: 1rem;
    cursor: pointer;
}